<a href="/users/profile">Profile</a> | <a href="/logout">Logout</a>
<h1>{{title}}</h1>
<p>Hi {{user.name.givenName}}</p>
<p>This is User Accout!!!!!!</p>
<ul>
  <li>
    <p>
      View Users <a href="/users/profile">profile</a>
    </p>
  </li>
  <li>
    <p>
      <a href="/logout">logout</a>

    </p>
  </li>
</ul>